@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #ffffff;
}

/* Hiệu ứng kính mờ (Glassmorphism) */
.glass-panel {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
